nav a:hover {
text-decoration: underline;

}


.header-carousel .owl-nav {
    position: absolute;
    transform: translateY(-30%);
}



.service-item:hover {
    background-color: var(--primary);
    margin-top: -10px;
    transition: .5s;
}

.courseimg {
    z-index: 0; }
    
.coursetxt {
    z-index:1;
}

